/*  
* Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Purpose License Version 2 as
* published by the Free Software Foundation
*
* by Saak Dertadian (s.dertadian@gmail.com)
*
* Cape LCD 2.4' for Beaglebone
* usind Color LCD 240x320 (Newhaven: NHD‐2.4‐240320SF)
*
*/

/dts-v1/;
/plugin/;

/{
	compatible = "ti,beaglebone", "ti,beaglebone-black";
	part-number = "BB-LCD24";
	version = "00A0";

	exclusive-use =
		/* the pin header uses */
		"P8.07",	/* GPIO_D0 */
		"P8.08",	/* GPIO_D1 */
		"P8.09",	/* GPIO_D2 */
		"P8.10",	/* GPIO_D3 */
		"P8.11",	/* GPIO_D4 */
		"P8.12",	/* GPIO_D5 */
		"P8.13",	/* GPIO_D6 */
		"P8.14",	/* GPIO_D7 */

		"P9.15",	/* GPIO_CS */
		"P9.23",	/* GPIO_DC */
		"P9.14",	/* GPIO_WR */
		"P9.16",	/* GPIO_RD */
		"P9.12";	/* GPIO_RS */

	fragment@0
	{
		target = <&am33xx_pinmux>;
		
		__overlay__
		{
			pinctrl_LCD24: BB_LCD24_Pins
			{
				pinctrl-single,pins = <

				0x090 0x37  /* P8_07  66 INPUT  MODE7 - D0  */
				0x094 0x37  /* P8_08  67 INPUT  MODE7 - D1  */
				0x09C 0x37  /* P8_09  69 INPUT  MODE7 - D2  */
				0x098 0x37  /* P8_10  68 INPUT  MODE7 - D3  */
				0x034 0x37  /* P8_11  45 INPUT  MODE7 - D4  */
				0x030 0x37  /* P8_12  44 INPUT  MODE7 - D5  */
				0x024 0x37  /* P8_13  23 INPUT  MODE7 - D6  */
				0x028 0x37  /* P8_14  26 INPUT  MODE7 - D7  */

				0x040 0x7F  /* P9_15  48 OUTPUT MODE7 - CS  */
				0x044 0x7F  /* P9_23  49 OUTPUT MODE7 - DC  */
				0x048 0x7F  /* P9_14  50 OUTPUT MODE7 - WR  */
				0x04C 0x7F  /* P9_16  51 OUTPUT MODE7 - RD  */
				0x078 0x7F  /* P9_12  60 OUTPUT MODE7 - RS  */
					
				/* OUTPUT  GPIO(mode7) 0x07 pulldown, 0x17 pullup, 0x?f no pullup/down */
				/* INPUT   GPIO(mode7) 0x27 pulldown, 0x37 pullup, 0x?f no pullup/down */

				>;
			};
		};
	};

	fragment@1
	{
		target = <&ocp>;
		__overlay__
		{
			test_helper: helper
			{
				compatible = "bone-pinmux-helper";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_LCD24>;
				status = "okay";
			};
		};
	};
};
